h1{
    background-color: #bcade0;
    text-align: center;
}
*{
    border:solid;
}
 .header{
     display:flex;
     justify-content:space-between;
     background-color:#addced;
    
     
 }
 .header * {
     margin: 16px;
     padding: 30px;
 }
 .grid{

     display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
 body{
     background-color: yellow;
 }
 p{
     text-align: center;
    
 }
 a:visited{
     color:sandybrown;
 }
a:hover{
    color:plum;

}
.item{
    position:relative;
}
.item p{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;

}
.item:hover p{
    opacity:1;

}
.item:hover img{
    opacity:0.5;
}
