h1{
    background-color: #bcade0;
    text-align: center;
}
*{
    border:dashed;
}
 .header{
     display:flex;
     justify-content:space-evenly;
     background-color:#addced;
     
 }
 .grid{

     display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
 body{
     background-color: #808080;
 }


